.m{
    margin-left: 20px;
}

.nav-menuapi {
    background-color: white;
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #077bff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    margin: 5px;
    text-align: left;
    padding: 5px;
    width: 30%;
  }

  
